# The DATABASE_URL variable is only for local connections, but can remain for production.

# general settings
NODE_ENV=development
BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000   # switch to your production frontend URL when deploying

# database settings
DB_USER=dbUser
DB_PASS=dbPass
DB_NAME=bottledrive
DB_PORT=5432
DATABASE_URL="postgresql://dbUser:dbPass@localhost:5432/bottledrive?schema=public"

# map settings
VITE_MAP_CENTER_LAT=44.6488
VITE_MAP_CENTER_LNG=-63.5752
VITE_MAP_ZOOM=13