# general settings
BACKEND_PORT=3001
FRONTEND_PORT=3000
FRONTEND_URL=http://localhost:3000   # switch to your production frontend URL when deploying
INITIAL_ADMIN_EMAIL=yourname@gmail.com
INITIAL_ADMIN_NAME=Your Name
AUTO_APPROVE_NEW_USERS=false
JWT_SECRET=supersecret_changeMe!!
GOOGLE_CLIENT_ID=your_google_client_ID
RECAPTCHA_SECRET_KEY=your_Google_recaptcha_secret_key  # erase this line if you don't want to use Google reCAPTCHA

# database settings
DB_USER=dbUser
DB_PASS=dbPass
DB_NAME=bottledrive
DB_PORT=5432
DATABASE_URL="postgresql://dbUser:dbPass@localhost:5432/bottledrive?schema=public"

# Frontend environment variables
VITE_TITLE="Bottle Drive"
VITE_API_URL=http://localhost:3001
VITE_DATE_TIME="2026-05-31 10:00:00"
VITE_ADDRESS_PLACEHOLDER="123 Main St, Halifax, NS"
VITE_MAP_CENTER_LAT=44.6488
VITE_MAP_CENTER_LNG=-63.5752
VITE_MAP_ZOOM=13
VITE_GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
VITE_RECAPTCHA_SITE_KEY=your_Google_recaptcha_site_key   # erase this line if you don't want to use Google reCAPTCHA